.timelineContainer {
  display: flex;
  flex-direction: row;
  height: 200px;
}


/* Swiper styles */

.step-title--timeline_section {
  font-size:55px;
  line-height:90px;
  color: #000
}
.row1--timeline_section .tl-top-row {
  border-bottom:3px dotted #cf0303
}

.row1--timeline_section .single--timeline_section {
  padding-bottom:70px
}

.row1--timeline_section .tl-bottom-row {
  padding-top: 48px;
  padding-bottom: 0;
}

.swiper--timeline_section1 {
  padding-top:20px;
  margin-top:-60px
}

.step-desc--timeline_section {
  padding:0 20px
}

textarea {
  text-align: center;
  resize: none;
  width: fit-content;
}

.tl-swiper-content {
  border-radius: 47px;
  background: white;
}

.swiper-slide {
  text-align: center;
  padding-bottom: 22px;
  padding-top: 22px;
}

.swiper-size {
  width: 81vw;
}

.unchecked-step, .checked-step   {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  bottom: 13px;
}

.dot {
  display: flex;
  border-radius: 50%;
  background-color: #bbb;
}

.unchecked-step {
  .dot {
    background-color: rgb(140, 50, 50) !important;
    background: url('../../public/minus-1.png');
    background-size: 51px;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    background-position: center;
  }
}

.checked-step {
  .dot {
    background-color: green !important;
    background: url('../../public/tick-1.png');
    background-size: 51px;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    background-position: center;
  }
}

.plus-icon {
  background: url('../../public/plus_1.png');
  background-size: 22px;
  background-repeat: no-repeat;
  height: 22px;
  width: 33px;
}

.milestone {
  position: relative;
  bottom: 25px;
}

.tl-btn {
  border-radius: 2rem;
  cursor: pointer;
  display: flex;
  padding: 0.75rem;
  transition: all 0.25s ease 0s;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(204, 202, 246);
  position: relative;
  bottom: 10px;
}

.tl-delete-section {
  display: flex;
  justify-content: center;
}

.tl-empty-message {
  height: 35rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 20rem;
  flex-direction: column;
}